@{
    ViewBag.Title = "Умные сайты, мобильный приложения, Банк 2.0 - РадаКод";

    Html.RequiresCss("Home/home.css", "Content", 101);
    Html.RequiresJs("Home/home.js", "Content", 11);
}

<div id="banner-block">
    <div id="dynamic-banner">
        <img src="@Url.Content("~/Content/home/starline.png")" class="item_0" data-left="-45px" data-top="170px" style="left: -45px; top: 170px;"/>
        <img src="@Url.Content("~/Content/home/starline.png")" class="item_0" data-right="-140px" data-top="320px" data-start-right="-200%" style="right: -140px; top: 320px;"/>
        <img src="@Url.Content("~/Content/home/starline.png")" class="item_1" data-right="-140px" data-top="320px" data-start-top="320px" data-start-right="-200%" style="right: -200%; top: 320px;"/>
        <div class="banner-data-container">
            <img src="@Url.Content("../Content/home/device-set.png")" class="item_0" data-left="125px" style="left: 125px;"/>
            <div class="description item_0" data-left="60%" style="left: 60%;">
                <h1>УМНЫЕ РЕШЕНИЯ ДЛЯ БИЗНЕСА</h1>
            </div>
            @*<div class="extended-text item_0" data-left="60%" style="left: 60%;">
                <span>
                    Мы превратим вашу идею в прибыльное ИТ-решение. <br/><br/>
                    Наши инжинеры создают приложения и сайты, способные "видеть", ориентироваться на местности, и "подстраиваться" под пользователя.
                </span>
            </div>*@
            <div id="ios-dev" class="platform item_1" data-left="7%" data-start-top="-200%" data-start-left="7%" data-top="45px" style="left: 7%; top:-200%;">
                <img src="@Url.Content("../Content/home/banner-mobile-apple-logo.png")" />
                <span class="handwritten">приложения для iOS</span>
            </div>
            <div id="android-dev" class="platform item_1" data-left="7%" data-top="165px" data-start-left="200%" data-start-top="165px" style="left: 200%; top:165px;">
                <img src="@Url.Content("../Content/home/banner-mobile-android-logo.png")"/>
                <span class="handwritten">приложения для Android</span>
            </div>
            <div id="wp-dev" class="platform item_1" data-left="7%" data-top="285px" data-start-left="7%" data-start-top="200%" style="left: 7%; top:200%;">
                <img src="@Url.Content("../Content/home/banner-mobile-windows-logo.png")" />
                <span class="handwritten">приложения для Windows Phone</span>
            </div>
                
            <img src="@Url.Content("../Content/home/iphone5-banner.png")" class="item_1" data-left="240px" data-start-top="-45px" data-top="-45px" data-start-left="200%" style="left: 200%; top: -45px;"/>
                
            <div class="description item_1" data-left="50%" data-start-left="-200%" style="left: -200%;">
                <h1>МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ, КОТОРЫЕ САМИ СЕБЯ ПРОДВИГАЮТ</h1>
            </div>
        </div>
    </div>
    <a href="#prev" class="rotator_control left">
        <div class="bg"></div>
        <div class="ss-icon">&#x25C5;</div>
    </a>
    <a href="#next" class="rotator_control right">
        <div class="bg"></div>
        <div class="ss-icon">&#x25BB;</div>
    </a>
</div>
<div class="news-block">
        <div class="under-construction-warning">МЫ ОБНОВЛЯЕМ НАШ САЙТ. ПРИНОСИМ ИЗВИНЕНИЯ ЗА ВРЕМЕННЫЕ НЕУДОБСТВА.</div>
</div>
<div id="smart-site-info">
    <div id="smart-site-centered-block">
        <div class="initiation-text">
            <h1>Мы делаем умные сайты для бизнеса</h1>
        </div>
        <div class="smart-site-knows">
            <h2>Умный сайт знает:</h2>
        </div>
        <div class="features-list">
            <div class="geo-data feature">
                <span class="feature-number">1</span>
                <h3>Где находится посетитель</h3>
                <p class="feature-slug">Определяет месторасположение пользователя</p>
            </div>
            <div class="behav-tracking feature">
                <span class="feature-number">2</span>
                <h3>Что его интересует</h3>
                <p class="feature-slug">Знает что клиент ищет, на основе предыдущих посещений</p>
            </div>
            <div class="device-specific feature">
                <span class="feature-number">3</span>
                <h3>Чем он пользуется</h3>
                <p class="feature-slug">Планшет, телефон или компьютер - сайт удобен во всех форматах</p>
            </div>
            <div class="interactive feature">
                <span class="feature-number">4</span>
                <h3>Как удержать посетителя</h3>
                <p class="feature-slug">Умный сайт полон интерактивных элементов - это удобно, интересно и продуктивно</p>
            </div>
        </div>
   </div>
</div>