@using System.Web.Script.Serialization
@model RadaCode.Web.Areas.SuperUser.Models.ProjectsManagementModel

@{
    Html.RequiresJs("projects-view-management.js", "ViewScripts", 10);
	var initValue = @Html.Raw(new JavaScriptSerializer().Serialize(Model));
}

@Html.Hidden("AddIndustryUrl", Url.Action("AddIndustry", "RadaCodeWebManagement"))
@Html.Hidden("RemoveIndustryUrl", Url.Action("RemoveIndustry", "RadaCodeWebManagement"))
@Html.Hidden("UpdateIndustryUrl", Url.Action("UpdateIndustry", "RadaCodeWebManagement"))
@Html.Hidden("AddClientUrl", Url.Action("AddCustomer", "RadaCodeWebManagement"))
@Html.Hidden("RemoveClientUrl", Url.Action("RemoveCustomer", "RadaCodeWebManagement"))
@Html.Hidden("UpdateClientUrl", Url.Action("UpdateCustomer", "RadaCodeWebManagement"))
@Html.Hidden("AddProjectUrl", Url.Action("AddProject", "RadaCodeWebManagement"))
@Html.Hidden("RemoveProjectUrl", Url.Action("RemoveProject", "RadaCodeWebManagement"))
@Html.Hidden("UpdateProjectUrl", Url.Action("UpdateProject", "RadaCodeWebManagement"))

<div id="projects-management-view">
    @Html.Hidden("initial-projects-data", (HtmlString)initValue)
    
    <div class="outlined" id="industries-list-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <td>Название индустрии</td>
                    <td>Название индустрии (En)</td>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'industry-template', foreach: Industries }">
            </tbody>
        </table>
        <div class="add-industry-dialog" data-bind="dialog: addIndustryDialogOptions, dialogVisible: isAddIndustryDialogVisible" style="display: none">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputName">Название</label>
                    <div class="controls">
                        <input type="text" id="inputName" placeholder="Название" data-bind="value: NewIndustry.Name">
                    </div>
                    
                </div>
                <div class="control-group en">
                    <label class="control-label" for="inputName_En">Название (En)</label>
                    <div class="controls">
                        <input type="text" id="inputName_En" placeholder="Название" data-bind="value: NewIndustry.Name_En">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <pre class="prettyprint add-industries-block">
        <div class="in-pre">
            <button class="btn btn-success add-industry" type="button" data-bind="click: ShowAddIndustryDialog">
                <i class="icon-user icon-white"></i>
                <span>Добавить индустрию</span>
            </button>
        </div>
    </pre>
    
    <div class="outlined" id="clients-list-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <td>Название клиента</td>
                    <td>Название клиента (En)</td>
                    <td>Индустрия</td>
                    <td>Размер компании</td>
                    <td>Прибыль</td>
                    <td>Веб сайт</td>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'client-template', foreach: Clients }">
            </tbody>
        </table>
        <div class="add-client-dialog" data-bind="dialog: addClientDialogOptions, dialogVisible: isAddClientDialogVisible" style="display: none">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputClientName">Название клиента</label>
                    <div class="controls">
                        <input type="text" id="inputClientName" placeholder="Название компании-клиента" data-bind="value: NewClient.Name">
                    </div>
                </div>
                <div class="control-group en">
                    <label class="control-label" for="inputClientName_En">Название клиента (En)</label>
                    <div class="controls">
                        <input type="text" id="inputClientName_En" placeholder="Название компании-клиента" data-bind="value: NewClient.Name_En">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectIndustries">Индустрия</label>
                    <div class="controls">
                        <select data-bind="options: Industries, optionsText: 'Name', optionsValue: 'Id', value: NewClient.IndustryId, chosen: { PlaceholderText: 'Выберите индустрию', AddPlaceholder: true, ChosenOptions: {allow_single_deselect: true} }" id="selectRoles"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputSize">Размер компании</label>
                    <div class="controls">
                        <input type="text" id="inputSize" placeholder="Размер" data-bind="value: NewClient.Size">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputRavenue">Прибыль</label>
                    <div class="controls">
                        <input type="text" id="inputRavenue" placeholder="Годовая прибыль" data-bind="value: NewClient.Ravenue">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputWebSite">Веб сайт</label>
                    <div class="controls">
                        <input type="text" id="inputWebSite" placeholder="Адрес веб сайта" data-bind="value: NewClient.WebUrl">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <pre class="prettyprint add-client-block">
        <div class="in-pre">
            <button class="btn btn-success add-client" type="button" data-bind="click: ShowAddClientDialog">
                <i class="icon-user icon-white"></i>
                <span>Добавить клиента</span>
            </button>
        </div>
    </pre>
    
    <div class="outlined" id="projects-list-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <td>Название проекта</td>
                    <td>Описание</td>
                    <td>Посмотреть детали</td>
                    @*<td>Краткое описание</td>
                    <td>Клиент</td>
                    <td>Использованные технологии</td>
                    <td>Начало проекта</td>
                    <td>Проект завершен</td>
                    <td>Оценочные сроки проекта</td>
                    <td>Текущее количество пользователей</td>
                    <td>Процент ВИ</td>
                    <td>Особые функции</td>
                    <td>Облако</td>
                    <td>Вёрстка презентации</td>
                    <td>Сайт</td>
                    <td>Поддерживаемые платформы</td>*@
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'project-template', foreach: Projects }">
            </tbody>
        </table>
        <div class="add-project-dialog" data-bind="dialog: addProjectDialogOptions, dialogVisible: isAddProjectDialogVisible" style="display: none">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputProjectName">Название проекта</label>
                    <div class="controls">
                        <input type="text" id="inputProjectName" placeholder="Название проекта" data-bind="value: NewProject.Name">
                    </div>
                </div>
                <div class="control-group en">
                    <label class="control-label" for="inputProjectName_En">Название проекта (En)</label>
                    <div class="controls">
                        <input type="text" id="inputProjectName_En" placeholder="Название проекта" data-bind="value: NewProject.Name_En">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectType">Тип проекта</label>
                    <div class="controls">
                        <select class="chzn-select" id="new-project-type-select" data-bind="options: ProjectTypes, value: NewProject.Type, chosen: { PlaceholderText: 'Выберите тип', AddPlaceholder: true, ChosenOptions: {allow_single_deselect: true} }" id="selectType"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputDescr">Краткое описание</label>
                    <div class="controls">
                        <input type="text" id="inputDescr" placeholder="Краткое описание" data-bind="value: NewProject.Description">
                    </div>
                </div>
                <div class="control-group en">
                    <label class="control-label" for="inputDescr_En">Краткое описание (En)</label>
                    <div class="controls">
                        <input type="text" id="inputDescr_En" placeholder="Краткое описание" data-bind="value: NewProject.Description_En">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectClient">Клиент</label>
                    <div class="controls">
                        <select class="chzn-select" id="new-project-client-select" data-bind="options: Clients, optionsText: 'Name', optionsValue: 'Id', value: NewProject.CustomerId, chosen: { PlaceholderText: 'Выберите клиента', AddPlaceholder: true, ChosenOptions: {allow_single_deselect: true} }" id="selectClient"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputTechnologies">Используемые технологии</label>
                    <div class="controls">
                        <input type="text" id="inputTechnologies" placeholder="Технологии" data-bind="tagsinput: {}, value: NewProject.TechnologiesUsed">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputDateStarted">Дата начала проекта</label>
                    <div class="controls">
                        <input type="text" id="inputDateStarted" placeholder="Дата начала проекта" data-bind="datepicker: NewProject.DateStarted, datepickerOptions: { dateFormat: 'yy-mm-dd' }">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputDateFinished">Дата завершения проекта</label>
                    <div class="controls">
                        <input type="text" id="inputDateFinished" placeholder="Дата завершения проекта" data-bind="datepicker: NewProject.DateFinished, datepickerOptions: { dateFormat: 'yy-mm-dd' }">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEstimate">Оценочная продолжительность проекта</label>
                    <div class="controls">
                        <div id="inputEstimate" class="jqSlider" data-bind="jQRangePicker: {resultInterpreter: WeeksInterpreter, prohibitLeftChange: true, leftFix: 0, arrows: false, formatter: LabelFormatter, defaultValues: { min: 0, max: 15 } }, value: NewProject.Estimate"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputUsersCount">Текущее количество пользователей</label>
                    <div class="controls">
                        <input type="text" id="inputUsersCount" placeholder="Количество пользователей" data-bind="value: NewProject.UsersCount">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputRoi">Процент возврата инвестиций</label>
                    <div class="controls">
                        <input type="text" id="inputRoi" placeholder="Процент возврата инвестиций" data-bind="value: NewProject.Roi">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFeatures">Особые функции</label>
                    <div class="controls">
                        <input type="text" id="inputFeatures" placeholder="Функции" data-bind="tagsinput: {}, value: NewProject.SpecialFeatures">
                    </div>
                </div>
                <div class="control-group en">
                    <label class="control-label" for="inputFeatures_En">Особые функции (En)</label>
                    <div class="controls">
                        <input type="text" id="inputFeatures_En" placeholder="Функции" data-bind="tagsinput: {}, value: NewProject.SpecialFeatures_En">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputCloud">Иммет ли подключение к облаку</label>
                    <div class="controls">
                        <input type="checkbox" id="inputCloud" data-bind="checked: NewProject.IsCloudConnected">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputAddMarkup">Разметка презентационного блока в портфолио</label>
                    <div class="controls">
                        <textarea id="inputAddMarkup" data-bind="ckeditor: NewProject.Markup"></textarea>
                    </div>
                </div>
                <div class="control-group en">
                    <label class="control-label" for="inputAddMarkup_En">Разметка презентационного блока в портфолио (En)</label>
                    <div class="controls">
                        <textarea id="inputAddMarkup_En" data-bind="ckeditor: NewProject.Markup_En"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputWebUrl">Адрес сайта</label>
                    <div class="controls">
                        <input type="text" id="inputWebUrl" placeholder="Адрес сайта" data-bind="value: NewProject.WebUrl">
                    </div>
                </div>
                <div class="control-group" data-bind="visible: (NewProject.Type() == 'Mobile')">
                    <label class="control-label" for="inputPlatforms">Поддерживаемые платформы</label>
                    <div class="controls">
                        <input type="text" id="inputPlatforms" placeholder="Поддерживаемые платформы" data-bind="tagsinput: {}, value: NewProject.PlatformsSupported">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <pre class="prettyprint add-project-block">
        <div class="in-pre">
            <button class="btn btn-success add-client" type="button" data-bind="click: ShowAddProjectDialog">
                <i class="icon-user icon-white"></i>
                <span>Добавить проект</span>
            </button>
        </div>
    </pre>

</div>

<script type="text/html" id="industry-template">
    <tr>
        <td>
            <div class="input-append industry-name">
                <input class="span2" size="16" type="text" data-bind="value: Name"/>
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedIndustry, attr: { disabled: !(NameChanged()) }, visible: NameChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <div class="input-append industry-name-en">
                <input class="span2" size="16" type="text" data-bind="value: Name_En"/>
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedIndustry, attr: { disabled: !(Name_EnChanged()) }, visible: Name_EnChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <button class="btn btn-danger" data-bind="click: Remove, clickBubble: false">
                <i class="icon-remove icon-white"></i>
            </button>
        </td>
    </tr>
</script>

<script type="text/html" id="client-template">
    <tr>
        <td>
            <div class="input-append client-name">
                <input class="span2" size="16" type="text" data-bind="value: Name"/>
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedClient, attr: { disabled: !(NameChanged()) }, visible: NameChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <div class="input-append client-name-en">
                <input class="span2" size="16" type="text" data-bind="value: Name_En"/>
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedClient, attr: { disabled: !(Name_EnChanged()) }, visible: Name_EnChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <div class="input-append client-industry">
                <select class="chzn-select" style="width: 255px" data-bind="options: ParentIndustries, optionsText: 'Name', optionsValue: 'Id', value: IndustryId, chosen: { PlaceholderText: 'Выберите индустрию', AddPlaceholder: true, ChosenOptions: {allow_single_deselect: true} }"></select> 
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedClient, attr: { disabled: !(IndustryIdChanged()) }, visible: IndustryIdChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <div class="input-append client-size">
                <input class="span2" size="16" type="text" data-bind="value: Size"/>
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedClient, attr: { disabled: !(SizeChanged()) }, visible: SizeChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <div class="input-append client-ravenue">
                <input class="span2" size="16" type="text" data-bind="value: Ravenue"/>
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedClient, attr: { disabled: !(RavenueChanged()) }, visible: RavenueChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <div class="input-append client-site">
                <input class="span2" size="16" type="text" data-bind="value: WebUrl"/>
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedClient, attr: { disabled: !(WebUrlChanged()) }, visible: WebUrlChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <button class="btn btn-danger" data-bind="click: Remove, clickBubble: false">
                <i class="icon-remove icon-white"></i>
            </button>
        </td>
    </tr>
</script>

<script type="text/html" id="project-template">
    <tr>
        <td>
            <div class="input-append project-name">
                <input class="span2" size="16" type="text" data-bind="value: Name"/>
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedProject, attr: { disabled: !(NameChanged()) }, visible: NameChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <div class="input-append project-description">
                <input class="span2" size="16" type="text" data-bind="value: Description"/>
                <button class="btn btn-warning" type="button" data-bind="click: SaveUpdatedProject, attr: { disabled: !(DescriptionChanged()) }, visible: DescriptionChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <div class="input project-open-details">
                <button class="btn btn-warning" type="button" data-bind="click: OpenDetailsDialog"><i class="icon-tasks icon-white"></i></button>
            </div>
        </td> 
        <td>
            <div class="edit-project-dialog" data-bind="dialog: editProjectDialogOptions, dialogVisible: isEditProjectDialogVisible" style="display: none">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputProjectName">Название проекта</label>
                        <div class="controls">
                            <input type="text" id="inputProjectName" placeholder="Название проекта" data-bind="value: Name">
                        </div>
                    </div>
                    <div class="control-group en">
                        <label class="control-label" for="inputProjectName_En">Название проекта (En)</label>
                        <div class="controls">
                            <input type="text" id="inputProjectName_En" placeholder="Название проекта" data-bind="value: Name_En">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" data-bind="attr: { for: typeEditorId }">Тип проекта</label>
                        <div class="controls">
                            <select class="chzn-select" data-bind="attr: { id: typeEditorId }, options: ParentProjectTypes, optionsValue: $data, optionsText: $data,  value: Type, chosen: { PlaceholderText: 'Выберите тип', AddPlaceholder: true, ChosenOptions: {allow_single_deselect: true} }" id="selectType"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputDescr">Краткое описание</label>
                        <div class="controls">
                            <input type="text" id="inputDescr" placeholder="Размер" data-bind="value: Description">
                        </div>
                    </div>
                    <div class="control-group en">
                        <label class="control-label" for="inputDescr_En">Краткое описание (En)</label>
                        <div class="controls">
                            <input type="text" id="inputDescr_En" placeholder="Размер" data-bind="value: Description_En">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" data-bind="attr: { for: clientEditorId }">Клиент</label>
                        <div class="controls">
                            <select class="chzn-select" data-bind="attr: { id: clientEditorId }, options: ParentClients, optionsText: 'Name', optionsValue: 'Id', value: ClientId, chosen: { PlaceholderText: 'Выберите клиента', AddPlaceholder: true, ChosenOptions: {allow_single_deselect: true} }" id="selectClient"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputTechnologies">Используемые технологии</label>
                        <div class="controls">
                            <input type="text" id="inputTechnologies" placeholder="Технологии" data-bind="tagsinput: { defaultTags: TechnologiesUsed }, value: TechnologiesUsed">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputDateStarted">Дата начала проекта</label>
                        <div class="controls">
                            <input type="text" id="inputDateStarted" placeholder="Дата начала проекта" data-bind="datepicker: DateStarted, datepickerOptions: { dateFormat: 'yy-mm-dd', defaultDate: DateStarted() }">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputDateFinished">Дата завершения проекта</label>
                        <div class="controls">
                            <input type="text" id="inputDateFinished" placeholder="Дата завершения проекта" data-bind="datepicker: DateFinished, datepickerOptions: { dateFormat: 'yy-mm-dd', defaultDate: DateFinished() }">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" data-bind="attr: { for: estimateEditorId }">Оценочная продолжительность проекта</label>
                        <div class="controls">
                            <div class="jqSlider" data-bind="attr: { id: estimateEditorId }, jQRangePicker: {resultInterpreter: WeeksInterpreter, prohibitLeftChange: true, leftFix: 0, arrows: false, formatter: LabelFormatter, defaultValues: { min: 0, max: ProjectEstimate() } }, value: ProjectEstimate"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputUsersCount">Текущее количество пользователей</label>
                        <div class="controls">
                            <input type="text" id="inputUsersCount" placeholder="Количество пользователей" data-bind="value: CurrentUsersCount">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputRoi">Процент возврата инвестиций</label>
                        <div class="controls">
                            <input type="text" id="inputRoi" placeholder="Процент возврата инвестиций" data-bind="value: ROIpercentage">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFeatures">Особые функции</label>
                        <div class="controls">
                            <input type="text" id="inputFeatures" placeholder="Функции" data-bind="tagsinput: {}, value: SpecialFeatures">
                        </div>
                    </div>
                    <div class="control-group en">
                        <label class="control-label" for="inputFeatures_En">Особые функции (En)</label>
                        <div class="controls">
                            <input type="text" id="inputFeatures_En" placeholder="Функции" data-bind="tagsinput: {}, value: SpecialFeatures_En">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputCloud">Иммет ли подключение к облаку</label>
                        <div class="controls">
                            <input type="checkbox" id="inputCloud" data-bind="checked: IsCloudConnected">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" data-bind="attr: { for: markupEditorId }">Разметка презентационного блока в портфолио</label>
                        <div class="controls">
                            <textarea data-bind="ckeditor: ProjectDescriptionMarkup, attr: { id : markupEditorId }"></textarea>
                        </div>
                    </div>
                    <div class="control-group en">
                        <label class="control-label" data-bind="attr: { for: markupEditorId_En }">Разметка презентационного блока в портфолио (En)</label>
                        <div class="controls">
                            <textarea data-bind="ckeditor: ProjectDescriptionMarkup_En, attr: { id : markupEditorId_En }"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputWebUrl">Адрес сайта</label>
                        <div class="controls">
                            <input type="text" id="inputWebUrl" placeholder="Адрес сайта" data-bind="value: WebSiteUrl">
                        </div>
                    </div>
                    <div class="control-group" data-bind="visible: (Type() == 'Mobile')">
                        <label class="control-label" for="inputPlatforms">Поддерживаемые платформы</label>
                        <div class="controls">
                            <input type="text" id="inputPlatforms" placeholder="Поддерживаемые платформы" data-bind="tagsinput: {}, value: PlatformsSupported">
                        </div>
                    </div>
                </form>
            </div>
        </td> 
        <td>
            <button class="btn btn-danger" data-bind="click: Remove, clickBubble: false">
                <i class="icon-remove icon-white"></i>
            </button>
        </td>          
    </tr>
    
</script>